/* Reset default spacing */
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: white;
}

/* Parent container for the entire page */
.parent {
    min-height: 100vh;
}

/* Title section */
.title-section {
    text-align: center;
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    box-shadow: 0px 5px 8px rgba(0,0,0,0.2);
    background-color: #17B309;
    color: white;
    border-radius: 0px 0px 30px 30px;
}
input:focus{
    outline: none;
}
.search input{
    border-style: none;
    border-radius: 5px;
    height: 20px;
}
.search{
    margin-left: 5px;
    align-content: center;
    flex-grow: 1;
    height: 10vh;
}
.header-inner-cont{
    gap: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0px 10px;
}
.title{
    flex-grow: 1;
    display: flex;
    justify-content: start;
}
.title-main-cont{
    flex-wrap: wrap;
    width: 40%;

}
.types{
    display: flex;
    gap: 2vw;
    padding: 30px 0px;
    justify-content: center;
}
.food-types{
    list-style-type: none;
    background-color: transparent;
    color: black;
    font-weight: bold;
    width: 100%;
    height: 150px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: all 0.5s ease;   
    overflow: hidden;
}
.D-Immage{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(45deg, #F2F2F2, #219600);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-start;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
.S-image{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(45deg, #F2F2F2, #219600);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-start;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
.M-course{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(45deg, #F2F2F2, #219600);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-start;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
.Appetizers{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(45deg, #F2F2F2, #219600);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-start;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
.Drinks{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(45deg, #F2F2F2, #219600);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-start;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
.types-main-container{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 80%;
    gap: 20px;
}
.food-types:hover{
    cursor: pointer;
    transform: scale(1.05);
}
.Slider{
    width: 100%;
    height: 40vh;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}
.Slides{
    width: 90%;
    height: 100%;
    border-radius: 20px 60px ;
    position: relative;
    overflow: hidden;
    box-shadow: 0 7px 7px rgba(29, 29, 29, 0.2);
}
.Slide{
 width: 100%;
 height: 100%;
 object-fit: cover;
 display: none;
 position: absolute;
 
}

.displaySlide{
    display: block;
}

.link{
    text-decoration: none;
    min-width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.to-top{
    color: black;
    font-size: 20px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 20px;
    border: none;
    background-color: beige;
    padding: 10px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
}

.to-top.active{
    pointer-events: auto;
    opacity: 1;
}