*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
.parent{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.header{
    width: 100%;
    min-height: 80px;
    display: flex;
    align-items: center;
    gap: 5px;
     box-shadow: 0px 5px 8px rgba(0,0,0,0.2);
     border-radius: 0px 0px 30px 30px;
}
.logo , .menu{
    height: 10vh;
    padding: 30px;
}
.logo{
    align-self: flex-start;
    width: 20%;
    font-size: 10px;
}
.menu{
    width: 80%;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    flex-shrink: 3;
}
.menu a{
    text-decoration: none;
    color: black;
    font-size: 1.25rem;
}
.Search{
    padding: 10px 10px;
    display: flex;
    margin-top: 10px;
}
.Search input{
    margin-left: 20px;
    height: 30px;
    border-width: 5px solid black;
}
.Search input:focus{
    outline: none;
}
.Videos_container{
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
}
.Videos{
    background-color: black;
    width: 40%;
    height: 250px;
}
@media (max-width: 575px) {
    .menu {
        flex-direction: row;
        align-items: flex-start;
        gap: 10px;
    }
    .logo h1 {
        font-size: 1.2rem; 
    }
    .Search input{
    width: 40%;
    height: 30px;
    }
    .Videos{
    background-color: black;
    width: 80%;
    height: 250px;
}
}